.commentList {
  li {
    font-size: 15px;
  }

  .commentMargin {
    margin-bottom: 7px;
  }
  .commentWritter {
    font-weight: 700;
    margin-right: 5px;
  }
  .commentTime {
    margin-left: 15px;
    font-size: 7px;
    opacity: 0.5;
  }
}
