$color-grey: #fafafa;
$color-blue: #0095f6;
$color-black: black;
$color-white: white;
$color-border-grey: #dbdbdb;
$color-dark-grey: #a0a0a0;

$font-small: 8px;
$font-regular: 16px;
$font-medium: 32px;
$font-large: 48px;
$font-xlarge: 56px;
$font-weight-bold: 600;

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexSpaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

$backgroundColor: rgb(250, 250, 250);
$border: 1px solid rgba(0, 0, 0, 0.2);
