// @import '../../styles/variable.scss';
// @import '../../styles/reset.scss';
@import '../../../styles/common.scss';

$backgroundColor: rgb(250, 250, 250);
$border: 1px solid rgba(0, 0, 0, 0.2);

.Main {
  min-width: 1000px;

  .mainContainer {
    // background-color: #f2f2f2;
    display: grid;
    grid-template-columns: 70% 25%;
    grid-column-gap: 5%;
    width: 70%;
    max-width: 1000px;
    margin: 70px auto 0 auto;
    padding-bottom: 100px;

    article {
      background-color: white;

      section {
        border-radius: 5px;
        border: $border;

        .feedHeader {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 15px 25px;

          div {
            display: flex;
            align-items: center;

            img {
              margin-right: 10px;
              width: 50px;
              height: 50px;
              border-radius: 50%;
            }

            div {
              display: flex;
              flex-direction: column;

              p {
                font-weight: bold;
                line-height: 11px;
              }

              span {
                margin-top: 10px;
                color: #c1c1c1;
                font-size: 7px;
              }
            }
          }
        }
        .feedImage {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 550px;

          img {
            width: 100%;
          }
        }
      }
    }

    .commentWrapper {
      padding: 15px 20px;

      .commentIcon {
        display: flex;
        justify-content: space-between;
        font-size: 25px;

        div {
          display: flex;
          width: 15%;
          justify-content: space-between;
        }

        .fa-heart {
          color: tomato;
        }

        .fa-comment {
          color: blue;
        }

        .fa-envelope-open {
          color: green;
        }
      }
      .commentLike {
        display: flex;
        margin: 15px 0;

        p {
          margin-left: 10px;
          line-height: 18px;
        }
      }
    }

    .comment {
      padding: 15px 20px;
      border-top: var(--border);

      input {
        width: 400px;
        border: none;
        font-size: 16px;
        outline: none;
      }

      #submit {
        float: right;
        border: none;
        background-color: white;
        font-size: 18px;
        outline: none;
        cursor: pointer;
      }
    }

    aside {
      height: 300px;
      font-size: 15px;
      font-weight: bold;
      min-width: 250px;

      .sectionWrapper {
        display: flex;

        .circledImage {
          position: relative;

          img {
            margin-right: 10px;
            width: 45px;
            height: 45px;
            border-radius: 50%;
          }

          .liveCircle {
            position: absolute;
            width: 48px;
            height: 48px;
            left: -2px;
            top: 0px;
          }
        }

        i {
          margin-right: 10px;
          font-size: 40px;
        }

        .sectionInner {
          display: flex;
          flex-direction: column;
          justify-content: center;
          cursor: pointer;

          p:last-child {
            color: #c1c1c1;
          }
        }
      }
      .contentWrapper {
        margin: 20px 0;
        padding: 15px 20px 0 20px;
        height: 250px;
        border: $border;
        background-color: white;
        overflow: auto;

        .contentHeader {
          display: flex;
          justify-content: space-between;
          width: 100%;
          margin-bottom: 20px;

          p:first-child {
            color: #c1c1c1;
            cursor: default;
          }

          p:last-child {
            cursor: pointer;
          }
        }
      }

      .contentWrapper::-webkit-scrollbar {
        display: none;
      }

      .sectionWrapper {
        margin-bottom: 20px;
      }
    }
  }
}
