@import '../../../styles/variables.scss';

.mainContainer {
  min-width: 1000px;
  display: grid;
  grid-template-columns: 70% 25%;
  grid-column-gap: 5%;
  width: 70%;
  max-width: 1000px;
  margin: 30px auto 0 auto;
  padding-bottom: 100px;
}
