@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  box-sizing: border-box;
}

.finalBox {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  margin-left: 450px;
  margin-top: 100px;
  .fontBox{
    text-align: center;
    font-family: "Lobster", cursive;
    margin-top: 50px;
    font-size: 60px;
    margin-bottom: 100px;
  }
  .loginBox{
    display: flex;
    flex-direction: column;
    margin-left: 125px;
    margin-bottom: 100px;

  }
    .idBox{
      width: 250px;
      height: 25px;
      display: block;
      margin-bottom: 5px;
      padding: 15px;
      padding-left: 0px;
    }
    .passBox{
      width: 250px;
      height: 25px;
      display: block;
      margin-bottom: 10px;
      padding: 15px;
      padding-left: 0px;
    }
    .button{
      width: 250px;
      height: 25px;
      background-color: skyblue;
      border-radius: 5px;
      border: white;
      color: white;
      font-weight: bolder;
    }

  .forgotBox{
    text-align: center;
    width: 200px;
    height: 50px;
    margin-left: 150px;

  }
}
