* {
  box-sizing: border-box;
  margin: 0px;
  border: 0px;
}

.explore {
  margin-right: 10px;
}

.profile {
  margin-left: 10px;
}

main {
  width: 1440px;
  margin: 0 auto;
}

.main-backgroundcolr {
  width: 100%;
  height: 2000px;
  background-color: #fafafa;

  .main2 {
    display: grid;
    grid-template-columns: 1.8fr 1.2fr;

    .feeds {
      background-color: white;
      width: 642px;
      height: 100%;
      margin-top: 35px;
      margin-left: 220px;
      border: 1px solid #dbdbdb;

      .feedProfile {
        margin: 8px;
        width: 40px;
        height: 40px;
        border-radius: 40%;
        object-fit: cover;
      }
    }
  }
}

.feedImage {
  width: 640px;
  height: 640px;
  bottom: 13px;
}

i {
  font-size: 25px;
}

.fa-solid {
  position: relative;
  right: 158px;
  bottom: 2px;
  font-size: 8px;
  color: #8e8e8e;
}

.fa-thumbs-up {
  position: relative;
  margin-left: 10px;
  width: 23px;
}

.fa-comment {
  position: relative;
  margin-left: 10px;
  width: 23px;
}

.arrow {
  position: relative;
  font-size: 25px;
  left: 10px;
  color: black;
  width: 23px;
}

.bookMark {
  position: relative;
  left: 520px;
  width: 23px;
}

.clickLike {
  margin: 10px;
}

.input {
  padding-bottom: 10px;
  margin-top: 80px;
  background-color: white;

  .commentBox {
    position: relative;
    bottom: 50px;
    border-bottom: 1px solid #dbdbdb;
  }
}

li {
  list-style: none;
}

.comment {
  width: 530px;
  margin-left: 25px;
  margin-bottom: 15px;
  background-color: white;
}

.comment::placeholder {
  text-align: left;
}

.clickLike {
  margin-bottom: 30px;
}

.click {
  background-color: white;
  color: #8e8e8e;
  margin-left: 25px;
}

input {
  width: 250px;
  height: 28px;
  background-color: #efefef;
  font-size: 15px;
  border-radius: 5px;
  position: relative;
}

input::placeholder {
  text-align: center;
  color: #8e8e8e;
}

.main-right {
  position: fixed;
  margin-left: 860px;

  .profile {
    display: flex;
    margin-top: 30px;
    margin-left: 10px;

    img[src='/images/jangjonghwan/profile.png'] {
      width: 75px;
      height: 70px;
      border-radius: 75%;
      overflow: hidden;
      object-fit: cover;
      display: inline-block;
    }
  }
}

.myprofile {
  margin-top: 32px;
  font-size: 14px;
  color: black;
  font-weight: bold;
}

.myname {
  position: relative;
  top: 51px;
  right: 81px;
  color: #9b9b9b;
  font-size: 14px;
}

.story-table {
  width: 350px;
  position: relative;
  top: 7px;
}

.member,
.story-text {
  text-align: left;
  font-size: 15px;
  font-weight: bold;
}

.everyone {
  color: black;
  font-weight: 600;
  text-align: right;
  margin-right: 20px;
}

.profile2 {
  width: 40px;
  height: 40px;
  border-radius: 40%;
  object-fit: cover;
  position: relative;
  top: 10px;
}

.profileId {
  position: relative;
  left: 10px;
  bottom: 10px;
}

.recommendProfile {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-top: 10px;
}

.recommendId {
  position: relative;
  bottom: 20px;
}

p {
  color: #a0a0a0;
}

.feedId {
  position: relative;
  bottom: 20px;
}

.recommend-table {
  width: 350px;
  position: relative;
  top: 7px;
}

.recommend,
.story {
  width: 330px;
  height: 270px;
  background-color: white;
  margin-top: 10px;
  margin-left: 30px;
  overflow: scroll;
}

.follow {
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  color: #349ff7;
}

.addComments {
  margin: 10px;
}
