.main-right {
  position: fixed;
  margin-left: 860px;
}

.profile {
  display: flex;
  margin-top: 30px;
  margin-left: 10px;

  img[src='/images/jangjonghwan/profile.png'] {
    width: 75px;
    height: 70px;
    border-radius: 75%;
    overflow: hidden;
    object-fit: cover;
    display: inline-block;
  }
}

.myprofile {
  margin-top: 32px;
  font-size: 14px;
  color: black;
  font-weight: bold;
}

.myname {
  position: relative;
  top: 51px;
  right: 81px;
  color: #9b9b9b;
  font-size: 14px;
}

.story-table {
  width: 350px;
  position: relative;
  top: 7px;
}

.member,
.story-user {
  text-align: left;
  font-size: 15px;
  font-weight: bold;
}

.everyone {
  color: black;
  font-weight: 600;
  text-align: right;
  margin-right: 20px;
}

.uploadedTime {
  width: 20px;
}

.storyProfile {
  width: 40px;
  height: 40px;
  border-radius: 40%;
  object-fit: cover;
  position: relative;
  top: 10px;
}

.profileId {
  position: relative;
  left: 10px;
  bottom: 10px;
}

.recommend,
.story {
  width: 330px;
  height: 270px;
  background-color: white;
  margin-top: 10px;
  margin-left: 30px;
  overflow: scroll;
}

.recommend-table {
  width: 350px;
  position: relative;
  top: 7px;
}

.recommendProfile {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-top: 10px;
}

.recommendId {
  position: relative;
  bottom: 20px;
}

p {
  color: #a0a0a0;
}

.follow {
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  color: #349ff7;
}
